<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>

    <div class="grid-container">

        <div th:replace="layout :: logo"></div>

        <div th:replace="layout :: flash"></div>

        <div class="container">
            <div class="grid-100">

                <form th:action="@{/login}" th:object="${user}" method="post">
                    <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" hidden="hidden"/>
                    <div class="prefix-20 grid-60 suffix-20">
                    <p><input th:field="*{username}" placeholder="Username"/></p>
                  </div> <div class="clear"></div>
                  <div class="prefix-20 grid-60 suffix-20">
                    <p><input th:field="*{password}" placeholder="Password" type="password"/></p>
                  </div>
                  <div class="clear"></div>
                    <div class="prefix-35 grid-10 suffix-5">
                        <a th:href="@{/signup}"><button type="button" class="secondary">SignUp</button></a>
                    </div>
                    <div class="prefix-5 grid-10 suffix-35">
                        <button type="submit">Login</button>
                    </div>
                  <div class="clear"></div>
                </form>

            </div> <!-- grid-100 -->
        </div>

    </div> <!-- grid-container -->

<script src="../assets/vendor/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/scripts/flashMessage.js" type="text/javascript" charset="utf-8"></script>
</body>
<div th:replace="layout :: footer"></div>
</html>